<%- model_class = Todolist -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @todolist.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:public) %>:</strong></dt>
  <dd><%= @todolist.public %></dd>
  <dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @todolist.user_id %></dd>
</dl>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Done</th>
      <th>Content</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="todos_list">
    <% @todolist.todos.each do |todo| %>
      <%= render 'todos/todos', todo: todo %>
    <% end %>
  </tbody>
</table>

<% if can? :update, @todolist %>
<div class="well">
  <h3>Todo</h3>
  <div id="todo_form">
  <%= render 'todos/todo_form', todolist: @todolist, todo: @todo %>
  </div>
</div>
<% end %>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              :back, :class => 'btn'  %>
  <%= link_to( t('.edit', :default => t("helpers.links.edit")),
              edit_todolist_path(@todolist), :class => 'btn') if can? :update, @todolist %>
  <%= link_to( t('.destroy', :default => t("helpers.links.destroy")),
              todolist_path(@todolist),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger') if can? :destroy, @todolist %>
</div>
